/*
Hiding extra fields in GroupedChoiceFields.
TODO: change render HTML to include CSS class instead
*/
.formification-fields .field-wrapper ul + ul {
    display:none;
}
.formification-fields .field-wrapper select + select {
    display: none;
}
